
.clearfix {
	overflow: normal;
}
.nav {
	background-color: #2e2efe;
	width: 1000px;
}
.nav h1 {
	margin: 0;
	padding: 0 100 0 25;
	font-weight: normal;
	font-size: 24pt;
	float: left;
	font-style: normal;
	font-weight: 500;
