}
.clearfix {
	overflow: normal;
}
body {
  background-color: #cee3f6;
}
h1 {
  background-color: #5882fa;
  padding: 10px 10px 10px 20px;
  font-style:
}

ul {
  float: right;
}
form {
  float: right;
}
