
.clearfix {
	overflow: normal;
}
body {
	color: #2e64fe;
}
h1 {
	margin: 0;
	padding: 0 100 0 25;
	font-weight: normal;
	font-size: 12pt;
	float: left;
	font-family: 'Optima', 'Avant Garde';
	font-style: #fffff;
}
.nav h2 {
	margin: 0;
	padding: 0 100 0 25;
	font-weight: normal;
	font-size: 12pt;
	float: left;
	font-family: 'Optima', 'Avant Garde';
	font-style: #fffff;
}
.nav form {
	float: right;
;

}
