* {
	box-sizing: border-box;
}

.navlist {
	position: fixed;
	width: 100%;
	margin: 0px;
	top: 0;
	left: 0;
	right: 0;
	background-color: #3b5998;
	color: #fff;
	height: 60px;
	font-family: Lucida, Tahoma;
	overflow: auto;
}

#loginform{
	color: #000;
	font-family: Lucida, Tahoma;
	float:right;
	margin: 0 auto;
	padding: 0;
	overflow: auto;
}

/*
.clearfix {
	overflow: auto;
}
*/
h2 {
	font-weight: bolder;
	color: #fff;
	font-family: Tahoma, Lucida;
}

h1 {
	font-weight: bolder;
	color: #000;
	font-family: Tahoma, Lucida;
}

p {
	color: #000;
	font-family: Tahoma, Lucida;
	font-size: 14px;
}

li {
	list-style-type: none;
}


.navlist li {
	list-style: none;
}

.navlist > li:first-child {
	float:left;
}

.navlist > li:nth-child(2) li {
	float:right;
	padding-left: 5px;
	padding-right: 5px;
}

.navlist a {
	color: #ffffff;
	float:left;
	text-decoration: none;
	display: block;
	margin: 0;
	padding: 25px 5px;
}



/* CONTAINER */

#container {
	margin-top: 70px auto;
	padding: 20px 5px 0 0;
	width: 100%;
	background: -webkit-linear-gradient(top, #ffffff, #D3D8E8);
}

/* MAIN SECTION */

#main {
	width: 60%;
	height: 500px;
	margin: 0;
	padding: 0;
	float: left;
	padding: 1rem;
	clear:left;
	background-image: url("/img/FBimage.png");
}


/* SIDEBAR */

#sidebar {
	width: 40%;
	height: 500px;
	background-color: #F2EDED;
	font-family: Lucida, Tahoma;
	display: block;
	padding: 1rem;
	line-height: 200%;
	color: #000;
	float:right;
}

input[type="submit"] {
	background: #78B319;
	font-size: 14px;
}
