$list: #fafbff;

.topnav{
  margin:0;
  padding:0;
  background-color: #3a5795;


   h1{
  padding: 0;
  margin-top: 0px;
  float: left;
  font-family: Helvetica;
  width: 300px;
  height: 30px;
  font-size: 30px;
  text-decoration: none;
  color: $list;
  }
  ul{
  margin: 0;
  padding: 0;
  }
> li:last-child{
  font-weight: normal;
  font-size: 18px;
  float: right;
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding-top: 5px;
  height:85px;
  font-size: 20px;
}
  > li:first-child{
  float:left
}
  a{
  text-decoration: none;
  float: right;
  color: $list;
  padding: 25px;
}
  > li:last-child li{
  float:left;
}
}


li {
  list-style: none;

}
.clearfix{
  overflow: auto;
}



.header-cont {
  width:100%;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0;
}


.info{
  float:right;
  margin-top: 100px;
  border: 5px solid #bbbbbb;
}

input[type="text"]{
  font-size:20px;
  width: 80%;
  margin-bottom: 10px;
}


input[type="submit"] {
  margin-top: 20px;
  background: #15800a;
  font-size: 25px;
  display: block;

}

label[for="Pets"]{
  font-size: 25px;
}

h4 {
  color: #fa142b;
  font-size: 50px; 
  float:left;}

@media (min-width: 1026px){
  form{
    float: right;
    font-size: 10px;

  }
}

@media (min-width: 768px) and (max-width: 1025px){
  .info{
    float: left;
    padding: 0;
    background: #fa142b;
    width: 90%;}

@media (min-width: 630px) and (max-width: 767px){
  .info{
    margin-top: 200px;
    width: 90%;
  }
}

  }

  @media (min-width: 320px) and (max-width: 629px){
  .info{
    margin-top: 150px;
    width: 90%;
    float: left;
    background: #3efa14}
  }